*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    width: 60%;
    margin: auto;
    padding: 40px;
    box-shadow: 0 0 15px 1px darkblue;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px 0;
}
p{
    text-align: justify;
    font-family: cursive;
    font-size: 22px;
    color: purple;
    line-height: 22px;

}
h1{
    text-align: center;
    margin-bottom: 25px;
    font-family: cursive;
}
body{
    background-color: lightblue;
    text-align: center;
}